@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 1em;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 100vw;
    margin-block: 0.5em
}

::-webkit-scrollbar-thumb {
    border: 0.2em solid transparent;
    border-image: linear-gradient(to bottom, #A855F7, #6366F1);
    border-image-slice: 1;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #A855F7, #6366F1);
}